// Arron Iker - Codepen
// https://codepen.io/aaroniker/pen/VwjexVy?editors=1100

:root {
    --text: #2B3044;
    --line: #B2F5EA;
    // temporary fix, used same color for inactive and active.
    --line-light: #38B2AC;
    --line-active: #38B2AC;
}


.round_scribble_underline {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    // margin: 0 var(--spacing, 0px);
    margin: 0;
    // transition: margin 1s;
    svg {
        width: 76px;
        height: 40px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 7px) translateZ(0);
        fill: none;
        stroke: var(--stroke, var(--line-light));
        stroke-linecap: round;
        stroke-width: 2px;
        stroke-dasharray: var(--offset, 69px) 278px;
        stroke-dashoffset: 361px;
        transition: stroke .25s ease var(--stroke-delay, 0s), stroke-dasharray .35s;
    }
    &:hover {
        --spacing: 4px;
        --stroke: var(--line-active);
        --stroke-delay: .1s;
        --offset: 180px;
    }
}